@font-face {
    font-family: Archivo;
    src: url("../fonts/Archivo-VariableFont_wdth,wght.ttf");
}

@font-face {
    font-family: ArchivoItalic;
    src: url("../fonts/Archivo-Italic-VariableFont_wdth,wght.ttf");
}

body{
    font-family: Archivo !important;
}

/*   ALERTS   */
@keyframes alert {
    from{
        transform: translateY(-100%);
        opacity: 0;
    }
    to{
        transform: translateY(0%);
        opacity: 1;
    }
}

.alert-animation{
    animation: alert 0.6s ease-in-out forwards;
}

/* HOME PAGE */
#landing{
    background-image: url("../images/website/landing.jpg");
    background-position: bottom;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
#landing #landing-content{
    width: 50%;
    border-radius: 10px;
    backdrop-filter: blur(3px);
    background-color: rgba(244,244,244,0.62) ;
    z-index: 5;
}
.icons-nav{
    font-size: 22px;
    padding-right: 12px;
}
.icons-nav i{
    margin: 0px 4px;
    color: black;
    cursor: pointer;
}
.icons-nav i:hover{
    color: dodgerblue;
}

/* ADS PAGE */
#tbSearch{
    border-top-right-radius: 0px !important;
    border-bottom-right-radius: 0px !important;
}
#btnSearch{
    border-top-left-radius: 0px !important;
    border-bottom-left-radius: 0px !important;
}

#search-wrapper{
    position: relative;
}
#search-results{
    z-index: 10;
    position: absolute;
    background-color: rgba(244,244,244,0.90);
    backdrop-filter: blur(3px);
    top: 100%;
    display: none;
    padding: 0px;
}
#search-results ul{
    margin-bottom: 0px;
    padding: 0px;
    list-style-type: none;
}
#search-results ul li{
    width: 100%;
    border: 1px solid gainsboro;
}

#search-results ul li a{
    display: block;
    padding: 8px 30px;
    width: 100%;
    text-decoration: none;
    transition: .1s ease-in-out;
}
#search-results ul li a:hover{
    background-color: #ffde7c;
}

/*SINGLE AD*/
.price-div{
    display: flex;
    flex-direction: row;
    align-items: end;
}
.accordion-body ul{
    margin: 0;
    padding: 0;
    list-style-type: none !important;
}

.accordion-body ul li{
    margin-bottom: 6px;
    margin-top: 6px;
}
.accordion-body ul li i{
    margin-right: 8px;
    color: dodgerblue;
    font-size: 20px;
}
@media only screen and (min-width: 992px){
    #ad-column-info{
        padding-right: 30px;
    }
}
